

button:hover {
    background-color: #ffffcc;
    color: #99ccff;
    border-radius: 5px;
}

#delete:hover {
    background-color: red;
    color: #ffffcc;
    border-radius: 5px;
}
.myInputs {
    background-color: #ffffcc;
    text-align: center;
}

h1 {
    color:  #ffffcc;
    text-align: center;
    font-family: Arial Narrow;
}

#appendMathHere {
    color:  #ffffcc;
    list-style-type: none;
    width: 100px;
    height: 500px;
    margin: 0 auto;
}

.flex-container {
    text-align: center;
}


html {
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to right top, #ed4264, #ffffcc);
    background: -moz-linear-gradient(to right top, #ed4264, #ffffcc);
    background: -ms-linear-gradient(to right top, #ed4264, #ffffcc);
    background: -o-linear-gradient(to right top, #ed4264, #ffffcc);
    background: linear-gradient(to right top, #ed4264, #ffffcc);
}

body {
	font-family: sans-serif;
    font-weight: 100;    
    }


/* #border {
    border-radius: 25px;
    background: pink;
    padding: 100px;
    width: 500px;
    height: 150px;
    margin: 0 auto;
} */
